<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body style="font-family: Arial, sans-serif; padding: 20px;">
<h2 style="color: #2e6c80;">Xác nhận đặt vé thành công!</h2>
<p>Xin chào <b th:text="${customerName}">Khách hàng</b>,</p>
<p>Cảm ơn bạn đã đặt tour. Dưới đây là thông tin chi tiết:</p>

<table style="border: 1px solid black; border-collapse: collapse; width: 100%;">
<!--  <tr>-->
<!--    <td><b>Mã Booking:</b></td>-->
<!--    <td th:text="${bookingId}">B-12345</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td><b>Số lượng vé:</b></td>-->
<!--    <td th:text="${amount}">2</td>-->
<!--  </tr>-->
  <tr>
    <td><b>Trạng thái:</b></td>
    <td style="color: green; font-weight: bold;">ĐÃ XÁC NHẬN</td>
  </tr>
</table>

<p>Chúc bạn có một chuyến đi vui vẻ!</p>
</body>
</html>
