# MySQL Database Configuration
DB_HOST=127.0.0.1
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=

# Eureka Configuration
EUREKA_URL=

# Application Configuration
SERVER_PORT=
SPRING_APPLICATION_NAME=
